@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
    font-family: 'microsoft yahei',Arial,sans-serif;
}

.bs-header{
    border-bottom: 1px solid #DFDFDF;
    padding-top:30px;
    padding-bottom:20px;
}

.bs-header h1{
    margin:0;
}
.bs-nav{
   background-color: #31b0d5;
    height: 6rem;;
}

.bs-body{
    padding-top: 50px;
}


.footer{
    margin: 30px 0 30px;
    padding: 50px;
    background: #CCC;
    color: #FFF;
}

.bs-banner {
    height: 280px;
    width: 670px;
    overflow: hidden;
}

#slide-runner {
    height: 280px;
    width: 670px;
    overflow: hidden;
    position: absolute;
}

#slide-holder img {
    position: absolute;
}

#slide-controls {
    left: 0;
    bottom: 0px;
    width: 670px;
    height: 34px;
    display: none;
    position: absolute;
    background: url(../images/slide-bg.png) 0 0;
}

#slide-controls p.text {
    float: left;
    color: #fff;
    display: inline;
    line-height: 16px;
    margin: 10px 0 0 20px;
}

#slide-controls p#slide-nav {
    float: right;
    height: 24px;
    display: inline;
    margin: 5px 0px 0 0;
}

#slide-controls p#slide-nav a {
    float: left;
    width: 24px;
    height: 24px;
    display: inline;
    font-size: 11px;
    margin: 0 5px 0 0;
    line-height: 24px;
    text-align: center;
    color: #fff
}

#slide-controls p#slide-nav a.on {
    background-position: 0 -24px;
}

#slide-controls p#slide-nav a {
    background-image: url(../images/silde-nav.png);
}
