@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
* {
    margin: 0;
    padding: 0;
}
body{
    font:12px/1.5 "Microsoft Yahei","Simsun"
}
ul {
    list-style: outside none none;
}
a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a {
    outline: medium none;
}
.bs-header{
    border-bottom: 1px solid #DFDFDF;
    padding-top:30px;
    padding-bottom:20px;
}

.f_l {
    float: left
}

.f_r {
    float: right
}
.bs-header h1{
    margin:0;
}
.bs-nav{
   background-color: #31b0d5;
    height: 6rem;;
}
.navbar-toggle .icon-bar {
    background-color: #31b0d5;
}
.bs-body{
    padding-top: 50px;
}


.footer{
    margin: 30px 0 30px;
    padding: 50px;
    background: #CCC;
    color: #FFF;
}
.navbar-collapse{
    text-align: center;
}
.bs-banner {
    height: 280px;
    /*width: 668px;*/
    overflow: hidden;
}

#slide-runner {
    height: 280px;
    /*width: 668px;*/
    overflow: hidden;
    position: absolute;
}

#slide-holder img {
    position: absolute;
}

#slide-controls {
    left: 0;
    bottom: 0px;
    /*width: 668px;*/
    height: 34px;
    display: none;
    position: absolute;
    background: url(../images/slide-bg.png) 0 0;
}

#slide-controls p.text {
    float: left;
    color: #fff;
    display: inline;
    line-height: 16px;
    margin: 10px 0 0 20px;
}

#slide-runner p#slide-nav {
    bottom: 0.5rem;
    display: inline;
    float: right;
    height: 24px;
    margin: 5px 0 0;
    position: absolute;
    right: 0;
}

#slide-runner p#slide-nav a {
    float: left;
    width: 24px;
    height: 24px;
    display: inline;
    font-size: 11px;
    margin: 0 5px 0 0;
    line-height: 24px;
    text-align: center;
    color: #fff
}

#slide-runner p#slide-nav a.on {
    background-position: 0 -24px;
}


#slide-runner p#slide-nav a {
    background-image: url("../images/silde-nav.png");
}

.bs-newest {
    margin: 20px 0;
}

.bs-newest .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
    border-bottom: #337ab7 4px solid;
}

.bs-newest .title b {
}

.bs-newest .title span {
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.bs-newest .title span a {
    display: inline-block;
    padding: 0 5px;
}

.bs-newest .title span a:hover {
    color: #000
}

.blogs {
    padding: 30px 0;
    position: relative;
    border-bottom: #CCC 1px solid;
    overflow: hidden
}

.blogs h3 {
    font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px;
    margin-top: 0;
}

.blogs h3 a {
    color: #474645;
}

.blogs h3 a:hover {
    color: #066;
    text-decoration: underline
}

.blogs figure {
 /*   float: left;*/
    /*width: 25%;*/
    overflow: hidden;
}

.blogs figure img {
    width: 100%;
    margin: auto;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.blogs figure:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.blogs ul {
    font-size: 12px;
    float: right;
    line-height: 22px;
    /*width: 72%;*/
    color: #756F71;
}

.autor {
    overflow: hidden;
    clear: both;
    margin: 10px 0;
    display: inline-block;
    color: #838383;
    width: 100%;
}

.autor span {
    margin: 0 10px 0 0;
    padding-left: 20px
}

.autor span a {
    color: #759b08;
}

.autor span a:hover {
    text-decoration: underline
}

.lm {
    background: url(../images/newsbg01.png) no-repeat left center
}

.dtime {
    background: url(../images/newsbg02.png) no-repeat left center
}

.viewnum {
    background: url(../images/newsbg04.png) no-repeat left center
}

.pingl {
    background: url(../images/newsbg03.png) no-repeat left center
}

.tit01 h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px
}
.content{
    right: 10px;
}
.search{
    top: 5rem;
}
.search input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #999;
    font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: italic;
    padding: 10px 15px;
    width: 100%;
}
@media (max-width: 768px) {
    .search{
        top:3rem;
    }


}
@media (min-width: 769px) {
    .search{
        top:3rem;
    }
    .content{
        right: 50px;
    }

}

@media (min-width: 1170px) {
    .content{
        right: 50px;
    }

}

.widget {
    box-shadow: 2px 3px 5px #ddd;
    margin-bottom: 30px;
    word-wrap: break-word;
    padding-left: 10px;
}

.widget a {
    color: #337ab7;
}

.widget .title {
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 200;
}

.tag small::before {
    content: "(";
}

.tag small::after {
    content: ")";
}

.tag small {
    color: #999;
    margin-left: 15px;
}
.bs-newest #title {
    border-bottom: 4px solid #337ab7;
    color: #333;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 24px;
}
#article-content{
    box-shadow: 2px 3px 5px #ddd;
    margin-bottom: 30px;
    word-wrap: break-word;
    padding: 0 10px 10px;
}
.bs-newest #title span{
    font-size: 12px;
    float: right;
   padding-top: 10px;
}
#article-content{
    padding-top: 3rem;
}