
.container {
    padding-right: 0px;
    padding-left: 0px;
    width: 1200px
}

.header-bg .share {
    position: absolute;
    right: 100px;
    width: auto;
    line-height: 150px;
}

.header-bg .share .icon {
    width: 30px;
    height: 30px;
    background-image: url(../images/share-black.png);
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 0 7.5px;
    background-size: cover;
}

.header-bg .share .icon-weibo-white {
    background-position: 0px 0px;
}

.header-bg .share .icon-fb-white {
    background-position: -30px 0px;
}

.header-bg .share .icon-instagran-white {
    background-position: -60px 0px;
}

.header-bg .share .icon-a-white {
    background-position: -90px 0px;
}

.header-bg .share .icon-be-white {
    background-position: -120px 0px;
}

.header-bg .share .icon-t-white {
    background-position: -150px 0px;
}

.header-bg .share .icon-d-white {
    background-position: -180px 0px;
}

.home-content {
    width: 1200px;
    text-align: center;
    position: absolute;
    color: white;
    font-family: JosefinSans-Thin;
    font-size: 12pt;
    top: 345px;
}

.home-content p {
    line-height: 25px;
}

.home-content a,
.home-content a:hover,
.home-content a:focus {
    color: white;
}

.main-content a,
.main-content a:hover,
.main-content a:focus {
    color: white;
}

.home-content .site-name {
    padding-top: 0;
    padding-bottom: 100px;
    color: white;
    font-family: sourceHanSansCN-Heavy;
    font-weight: bold;
    font-size: 27pt;
}

.home-content .site-name p {
    height: 30px;
}

.page-content {
    /*position: relative;*/
    margin: auto;
    min-height: 100px;
    /*line-height: 700px;*/
}

.cover-container {
    /*height: 100%;*/
    color: white;
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center; /*让文字水平居中*/
    margin: auto;
}

.cover-lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
    letter-spacing: .20em;
}

.cover-lead > a,
.cover-lead > a:hover,
.cover-lead > a:focus {
    color: white;
    text-decoration: none;
}

 .header-bg a,
 .header-bg a:hover,
 .header-bg a:focus {
    text-decoration: none;
}

.pinyin {
    font-size: 12px;
    margin-bottom: 0px;
}

.cover-heading {
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: .20em;
}

@media (min-width: 100px) {
    .cover-heading {
        font-size: 30px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .cover-heading {
        font-size: 30px;
        font-weight: bold;
    }
}

@media (min-width: 1600px) {
    .cover-heading {
        font-size: 40px;
        font-weight: bold;
    }
}

@media (min-width: 1800px) {
    .cover-heading {
        font-size: 70px;
        font-weight: 700;
    }
}

.header-bg {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99999;
    font-family: JosefinSans-Light;
    font-size: 12pt;
    color: black;
    height: 100px;
}

.main-menu, .navbar-site {
    color: black;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-color: white;

}

.collapse-site {
    padding-right: 0px;
}

.site-name {
    z-index: 99999;
    padding: 30px 0px;
    /*font-weight: 300;*/
    color: black;
    font-family: sourceHanSansCN-Bold;
    font-weight: bold;
}

.activity {
    text-decoration: line-through;
    position: absolute;
    float: left;
    left: 25px;
    bottom: 16.5px;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
}

.action {
    cursor: pointer;
}

.header-bg .navbar-default .navbar-nav > .open > a,
.header-bg .navbar-default .navbar-nav > .open > a:hover,
.header-bg .navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: white;
}

header .navbar-nav {
    float: right;
    right: -15px;
    position: absolute;
    top: 15%;
}

.navbar-site-secondary {
    background-color: white;
    height: 75px;
    line-height: 75px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

a:focus, a:hover {
    color: black;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

.header-blank {
    height: 150px;
}

.main {
    /*position: relative;*/
    /*top: 150px;*/
    min-height: 600px;
}

.main .row {
    /* margin-left: 0px;*/
    margin-right: -50px;
    margin-left: -15px;
}

.main-bg {
    height: 100%;
    width: 1160px;
    z-index: -200;
}

.main {
    font-family: JosefinSans-Regular;
    font-size: 12pt;
}

.main-content {
    width: 1160px;
    text-align: center;
    position: absolute;
    color: white;
    font-family: JosefinSans-Regular;

    padding-left: 30%;
    bottom: 50px;
}

.header-bg .dropdown-menu {
    border: 0px solid white;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px white;
    box-shadow: 0 0 0 white;
    font-size: 12pt;
}

.footer {
    position: relative;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #939393;
    font-family: JosefinSans-Regular;
    font-size: 16pt;
    /*   margin-top: 50px;*/
    /*background-color: darkgrey;*/
}

.content {
    width: 1200px;
    margin: auto;
}

.main .image {
    padding-bottom: 25px;
}

.content p {
    margin-bottom: 12.5px;
    margin-top: 12.5px;
    color: #707070;
    text-align: center;
}

.paragraph p {
    text-align: left;
}

.content .about-label-ico {
    padding-top: 258px;
    margin: auto;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.content .about-label-ico .ico {
    margin: auto;
    background-color: #C9C9C9;
    height: 22.5px;
    line-height: 22px;
    width: 56px;
    transform: rotate(90deg);
}

.content .about-label-ico .ico-rotate {
    width: 0px;
    height: 0px;
    border-top: 10px solid #C9C9C9;
    border-right: 12px solid white;
    border-bottom: 10px solid white;
    border-left: 12px solid white;
    margin: auto;
    position: relative;
    top: 10px;
}

.about-label {
    /*padding-top: 40pt;*/
    padding-bottom: 360px;
    color: #C9C9C9;
    margin: auto;
    text-align: center;
}

.share {
    width: 610px;
    margin: auto;
    padding-bottom: 170px;
}

.share .icon {
    width: 30px;
    height: 30px;
    background-image: url(../images/share.png);
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 0 25px;
    background-size: cover;

}

.share .icon-weibo-white {
    background-position: 0px 0px;

}

.share .icon-fb-white {
    background-position: -30px 0px;
}

.share .icon-instagran-white {
    background-position: -60px 0px;
}

.share .icon-a-white {
    background-position: -90px 0px;
}

.share .icon-be-white {
    background-position: -120px 0px;
}

.share .icon-t-white {
    background-position: -150px 0px;
}

.share .icon-d-white {
    background-position: -180px 0px;
}

.content-label {
    margin-top: 50px;
    margin-bottom: 150px;
}

.content-label p {
    color: #C9C9C9;
    text-align: center;
    margin-top: 5px;
}

.content .paragraph {
    padding: 5px 150px;
}

.content .paragraph p {
    margin-bottom: 0px;
}

.form {
    color: black;
    font-size: 12pt;
    padding: 0 150px;
}

.form form {
    padding-top: 40px;
    padding-bottom: 100px;
    color: black;
    width: 330px;
    margin: auto;
}

.form input {
    height: 38px;
}

.form .form-group {
    margin: 20px 0;
}

.form .name {
    color: #C9C9C9;
}

.form label {
    font-weight: 100;
}

.form .small, small {
    font-size: 12pt;
}

.form .form-group .btn-submit {
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 108px;
    height: 48px;
    font-size: 12pt;
}

.form .form-group .submit {
    width: 100px;
    margin: auto;
}

.main .title {
    text-align: center;
    padding-bottom: 20px;
    line-height: 80px;
}

.main .title .subtitle {
    font-size: 12pt;
}

.main .item {
    margin-top: 10px;
}

.heptamor {
    height: 600px;
    font-family: sourceHanSansCN;
}

.heptamor .list {
    line-height: 10px;
    text-align: center;
    margin: 0 auto; /*水平居中*/
    position: relative;
    top: 50%; /*偏移*/
    transform: translateY(-50%);
}

.heptamor .item {
    padding: 5px 0;
}

.heptamor .item .theme {
    font-weight: 700;
}

.heptamor .item .subtitle {
    font-family: JosefinSans-Light;
    font-weight: bold;
}

.main .item .caption {
    text-align: center;
    font-size: 12pt;
    line-height: 60px;
    width: 350px;
}

.main .item a {
    width: 367px;
    /*padding: 0 20px;*/
    margin: auto;
}

.main .personal-content {
    padding-bottom: 80px;
}

.contact-label {
    height: 175px;
}

.heptamor .title {
    padding-left: 255px;
    font-size: 17pt;
    font-weight: 700;
    text-align: left;
}

.heptamor .pages{
/*    height: 200px;
    position: absolute;*/
}
.heptamor .page{
    position: absolute;
    bottom: 10%;
    right: 10px;
}